@keyframes ldio-y3ft182p34 {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-y3ft182p34 div {
    position: absolute;
    animation: ldio-y3ft182p34 1s linear infinite;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    box-shadow: 0 7.5px 0 0 #e15b64;
    transform-origin: 30px 33.75px;
}

.loadingio-spinner-eclipse-gav7mzicifh {
    width: 28px;
    height: 28px;
    display: inline-block;
    overflow: hidden;
    /* background: #ffffff; */
}

.ldio-y3ft182p34 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.38);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-y3ft182p34 div {
    box-sizing: content-box;
}